{% extends 'layout.html' %} {% block body %}
<h2 class="title-main">PRE<span class="second">PROCESSING</span></h2>

<h4 class="subtitle">HOW MUCH DATASET YOU WANT TO INPUT</h4>

<form class="form-container" action="/process" method="post">
  <div class="form-group row justify-content-center">
    <label for="mode" class="col-sm-2 col-form-label">Used Data</label>
    <div class="col-sm-6">
      <select id="mode" name="mode" class="form-control" required>
        <option value="">Choose..</option>
        <option value="Train">Data Train</option>
        <option value="Test">Data Test</option>
      </select>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="limit" class="col-sm-2 col-form-label">Limit</label>
    <div class="col-sm-6">
      <input
        type="number"
        class="form-control"
        id="limit"
        min="10"
        max="100"
        placeholder="10%-100%"
        name="limit"
        required
      />
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <label for="model" class="col-sm-2 col-form-label">Model N-Gram</label>
    <div class="col-sm-6">
      <select id="model" name="model" class="form-control" required>
        <option value="">Choose..</option>
        <option value="2">Bigram</option>
        <option value="3">Trigram</option>
      </select>
    </div>
  </div>
  <div class="center-col">
    <a class="button-start back" href="/"> Back </a>
    <button type="submit" class="button-start">Submit</button>
  </div>
</form>

{% endblock %}
